*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #D8CCC4;
}
.header{
    height: 5vh;
    background-color: #260101;
    
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom:1px solid #ffff ;
    
}
section>header{
    display: flex;
    height: 100%;
    align-items: center ;
    justify-content: space-between;
    
}
section>header>a{
    text-decoration: none;
}
section>header>a>h1{
    display: flex;
    background: #ccc;
    align-items: center;
    justify-content: center;
    width: 15vw;   
    font-size: 1.8em;
    background: radial-gradient(#D8CCC4,#736B02);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}
section>header>nav{
    width: 60vw;
    height: 100%;
}
section>header>nav>ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    }
section>header>nav>ul>li{
    display: block;
    height: 100%;
    padding: 0 10px;
    border-radius: 4px;
    margin-right: 4px;

}
section>header>nav>ul>li:hover{
    /* background-color: #730710; */
    background:linear-gradient(90deg,#730710, #3E0101);
}
section>header>nav>ul>li>a{
    text-decoration: none;
    color: #D8CCC4;
    display: flex;
    align-items: center;
    height: 100%;
}
.search{
     /* lightcoral; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 3em;
    height: 30vh;
    
}

.search>h3{
    font-size: 2em;margin-top:40px;
}
.search>form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15em;
    width: 90vw;
    padding: 0 5px; 
}
.search>form>.contenedor-search-main{
     /* lawngreen; */
    display: flex;
    align-items: center;
    width: 30vw;
    margin: 2px 0;
    height: 3em;
    padding: 2px 0;
}
.search>form>.contenedor-precio-main{
     /* lightcoral; */
    display: flex;
    align-items: center;
    margin-right: 10px;
   
    height: 40px;
}
.contenedor-precio-main>fieldset{
    
    border: 0;
}
.contenedor-precio-main>fieldset>input{
    padding: 0 4px;
    font-size: 1em;
    border-radius: 0%;
    border: 0;
    border-radius: 4px;
    outline: none;
}
.contenedor-precio-main>select{
    
    border-radius: 4px  ;
    border: 0 solid;
    height: 80%;
    font-size: 1em;
    padding: 0 4px;
    
    outline: 2px ridge rgba(159, 138, 168, 0.6);

}
.contenedor-precio-main>select:hover{
    background-color: #ccc;
}
.search>form>div>fieldset{
    height: 35px;
    display: flex;
    border: 0px;
    margin-right: 4px;
    width: 100%;
}
.contenedor-search{
    width: 80%;  
}
.search-input{
    padding: 0px 4px;
    font-size: 1.2em;
    border: 0px;
    outline: none;
    width: 100%;
    border-radius: 5px;
}
.contenedor-enviar{
    width: 5%;
}
.boton-enviar{
    height: 33px;
    padding: 0 5px;
    border: 0 solid;
    outline: 2px ridge rgba(159, 138, 168, 0.6);
    border-radius: 4px; 
    
}
.search>form>fieldset{
   border: 0;
   padding: 2px 5px;
}

.search>form>fieldset>input{
    border:1px solid grey;
    padding: 0 5px;
    outline: none;
}  

/* ---------------------- */

.section-productos{
    height: 85vh;
    margin: auto;
    width: 80%;
}
.section-productos>h3{
    margin-bottom: 0.6em;
    text-align: center;
     /* bisque; */
    font-size: 2em;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    
}
.productos>a>article>h4{
    text-align: center;
    font-size: 1.2em;
}
.productos>a{
    padding: 1em;
    margin:20px 40px;
    background: #E6D9D1;
    border-radius: 10px;
    min-width: 350px;
    max-width: 20%;
    text-decoration: none;
    color: black;
}
.sin-stock{
    opacity: .6;
}
.stock-disponible{
    box-shadow: 2px 2px 20px;
}
.productos>.stock-disponible:hover{
    transform: scale(1.05);
    box-shadow:5px 5px 10px ;
}
.productos>a>article>figure{
    width: 90%;
    margin: 10px auto;
    height: 200px;
    text-align: center;
    /* background-color:lightcoral; */
}
.productos>a>article>figure>img{
    width: 100%;
    height: 100%;
}
.productos>a>article>figcaption{
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 10px;   
    text-align: center;
}
.productos>a>article>p{
    padding: 4px;
}
/* ----------carrusel------------ */

.section-carrusel{
    
    padding: 1.5em 0;
     /* rgb(197, 223, 47); */
    height: 60vh;
}
.section-carrusel>h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 2em;
}
.contenedor-imagenes-carrusel{
    
    overflow: hidden;
    width: 65%;
    margin: auto;
    height: 90%;
}
.contenedor-imagenes-carrusel > ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 300%;
    animation: cambio 10s infinite;
    animation-direction: alternate;
}
.contenedor-imagenes-carrusel > ul > li{
    width: 80%;
    height: 300px;
    display: flex;
    justify-content: center;
}
.contenedor-imagenes-carrusel > ul > li > img{
 
    width: 80%;
    height: 20rem;
    border-radius: 10px;
    object-fit: fill;
    box-shadow:5px 5px 20px #730710;
}
@keyframes cambio {
    0%{margin-left: 0;}
    30%{margin-left: 0;}
    
    35%{margin-left: -100%;}
    65%{margin-left: -100%;}
    
    70%{margin-left: -200%;}
    100%{margin-left: -200%;}
} 
/* ----fin carrusel---- */
footer{
    height:5vh;
    color: #D8CCC4;;
    background-color: #260101;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}