<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/deltalle_producto.css">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Document</title>
</head>
<body>
    <section class="header">
        <header>
            <h1>MacoWins Store</h1>
            <nav>
                <ul>
                
                    <li><a href="/">Home</a></li>
                    <li><a href="/productos" >Productos</a></li>
                    <li><a href="/sucursales" >Sucursales</a></li>
                    <li><a href="/carrito" >Carrito</a></li>
        
                </ul>
            </nav>
            
        </header>
    </section>
    <main>
        
           
        <section>
            <article class="imagen-article"> 
                <figure> 
                    <img src="https://puraimagendigital.com.ar/2473-thickbox_default/remera-adulto-unisex-blanca-sublimable.jpg"
                    alt="Remera de verano" >
                 </figure>
            </article>  
            <article class="section-ul">
                <h2>Remera de verano</h2>
                <ul> 
                    <li>Precio: $1000</li>
                    <li>Cantidad de Stock</li>
                    <li>Codigo de Producto</li>
                    <li>Categoria</li>
                    <li>Sucursales</li>
                
                </ul>
             
            </article>
        </section>
    </main>
    
    <footer>
        <p>Derechos reservados</p>
        <p></p>
        <p>Copyrigth</p>
    </footer>

    
</body>
</html>