<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/detalle_sucursal.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>MacoWins Store</h1>
        <nav>
            <ul class="ul-header">
            
                <li class="ul-li"><a href="http://" target="_blank" class="a-nav">Home</a></li>
                <li class="ul-li"><a href="http://" target="_blank" class="a-nav">Productos</a></li>
                <li class="ul-li"><a href="http://" target="_blank" class="a-nav">Sucursales</a></li>
                <li class="ul-li"><a href="http://" target="_blank" class="a-nav">Carrito</a></li>

            </ul>
        </nav>       
    </header>
    <main>

        <h2>Sucursal Belgrano</h2>
        <ul class="ul-h2">
            <li>Direccion: Av Cabildo 2513</li>
            <li>Cantidad de Stock: 200</li>
        </ul>

        <h3>Productos en Stock</h3>
        <section>
            <a href="" class="a-section">
                <article>
                    <figure>
                        <img src="https://puraimagendigital.com.ar/2473-thickbox_default/remera-adulto-unisex-blanca-sublimable.jpg"
                        alt="Remera de verano" class="imagen-producto">
                    </figure>
                    <ul class="productos-article">
                        <li>Nombre:</li>
                        <li>Precio:</li>
                        <li>Codigo de Producto:</li>
                    </ul>
                </article>
            </a>
            <a href="" class="a-section">    
                <article>
                    <figure>
                        <img src="https://puraimagendigital.com.ar/2473-thickbox_default/remera-adulto-unisex-blanca-sublimable.jpg"
                        alt="Remera de verano" class="imagen-producto">
                    </figure>
                    <ul class="productos-article">
                        <li>Nombre:</li>
                        <li>Precio:</li>
                        <li>Codigo de Producto:</li>
                    </ul>
                </article>
            </a>
            <a href="" class="a-section">
                <article>
                    <figure>
                        <img src="https://puraimagendigital.com.ar/2473-thickbox_default/remera-adulto-unisex-blanca-sublimable.jpg"
                        alt="Remera de verano" class="imagen-producto">
                    </figure>
                    <ul class="productos-article">
                        <li>Nombre:</li>
                        <li>Precio:</li>
                        <li>Codigo de Producto:</li>
                    </ul>
                </article>
            </a>
            <a href="" class="a-section">    
                <article>
                    <figure>
                        <img src="https://puraimagendigital.com.ar/2473-thickbox_default/remera-adulto-unisex-blanca-sublimable.jpg"
                        alt="Remera de verano" class="imagen-producto">
                    </figure>
                    <ul class="productos-article">
                        <li>Nombre:</li>
                        <li>Precio:</li>
                        <li>Codigo de Producto:</li>
                    </ul>
                </article>
            </a>
        </section>

        <h3>Los 3 Productos más vendidos </h3>
        <section>
            <a href="" class="a-section">
            <article>
                <figure>
                    <img src="https://puraimagendigital.com.ar/2473-thickbox_default/remera-adulto-unisex-blanca-sublimable.jpg"
                    alt="Remera de verano" class="imagen-producto">
                </figure>
                <ul class="productos-article">
                    <li>Nombre:</li>
                    <li>Precio:</li>
                    <li>Codigo de Producto:</li>
                </ul>
            </article>
            </a>
            <a href="" class="a-section">
                <article>
                    <figure>
                        <img src="https://puraimagendigital.com.ar/2473-thickbox_default/remera-adulto-unisex-blanca-sublimable.jpg"
                        alt="Remera de verano" class="imagen-producto">
                    </figure>
                    <ul class="productos-article">
                        <li>Nombre:</li>
                        <li>Precio:</li>
                        <li>Codigo de Producto:</li>
                    </ul>
                </article>
            </a>
            <a href="" class="a-section">
            <article>
                <figure>
                    <img src="https://puraimagendigital.com.ar/2473-thickbox_default/remera-adulto-unisex-blanca-sublimable.jpg"
                    alt="Remera de verano" class="imagen-producto">
                </figure>
                <ul class="productos-article">
                    <li>Nombre:</li>
                    <li>Precio:</li>
                    <li>Codigo de Producto:</li>
                </ul>
            </article> 
            </a>     
        </section>




    </main>
    <footer>
        <p class="parrafo-footer"><strong>Contactos</strong></p>
        <ul>
            <li class="ul-footer">Facebook</li>
            <li class="ul-footer">Correo</li>
        </ul>
        <p class="parrafo-footer"><strong>Copyrigth- Todos Los Derechos Reservados</strong></p>
    </footer>
    
</body>
</html>