<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Macowins Store</title>
    <script src="https://kit.fontawesome.com/5333537f63.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="header">
        <header>
            <a href="/">
                <h1>MacoWins</h1>
            </a>
            <nav>
                <ul>
                
                    <li><a href="/">Home</a></li>
                    <li><a href="/productos" >Productos</a></li>
                    <li><a href="/listado_de_sucursales">Sucursales</a></li>
                    <li><a href="/carrito" >Carrito</a></li>
        
                </ul>
            </nav>
            
        </header>
    </section>
    <main>
        <section class="search" >
            <h3>Encuentra la mejor ropa de verano</h3>
            <form action="/productos" method="get">
                <div class="contenedor-search-main">
                    <fieldset class="contenedor-search">
                        <input type="text" name="buscar" class="search-input" id="buscar" placeholder="Buscar producto por nombre">
                    </fieldset>
                </div>
                <div class="contenedor-precio-main">

                    <fieldset class="contenedor-search-precio">
                        <!-- <label for="precio">por precio</label> -->
                        <input type="number" name="precio" min="0"  class="precio-input" id="precio" placeholder="Buscar hasta">
                    </fieldset>
                    
                    <select name="categoria">
                        <option selected value="todas"> Todas las categorias</option>
                        <option value="remeras">Remera</option>
                        <option value="sport">sport</option>
                        <option value="jeans">jeans</option>
                        <option value="gala">gala</option>
                        <option value="casual">casual</option>
                    </select>
                </div>
                <input type="submit" class="boton-enviar" value="Buscar" ></i>
            </form>
        </section>
        
        <section class="section-carrusel">
            <h2>Los productos mas buscados</h2>
                <!-- contenedor de box-imagenes  -->
            <div class="contenedor-imagenes-carrusel">
                <!-- imagenes del carrusel  -->
                <ul>
                    <li><img src="https://d500.epimg.net/cincodias/imagenes/2020/05/03/companias/1588533648_456774_1588533815_noticia_normal_recorte1.jpg" alt="Images1"></li>
                    <li><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Eatoncentrertorontohall.JPG/800px-Eatoncentrertorontohall.JPG"  alt="images2"></li>
                    <li><img src="https://cronicaglobal.elespanol.com/uploads/s1/77/81/09/9/centrocomercial1.jpeg"  alt="images3" ></li>
                </ul>
            </div>
        </section>

    </main>
    <footer>
        <p>Derechos reservados</p>
        <p></p>
        <p>Copyrigth</p>
    </footer>
</body>
</html>