<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/listado_ventas.css">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Document</title>
</head>
<body>
    <section class="header">
        <header>
            <h1>MacoWins Store</h1>
            <nav>
                <ul>
                
                    <li><a href="/">Home</a></li>
                    <li><a href="/productos" >Productos</a></li>
                    <li><a href="/sucursales" >Sucursales</a></li>
                    <li><a href="/carrito" >Carrito</a></li>
        
                </ul>
            </nav>
            
        </header>
    </section>
    <main>

        <section class="input">
                <form action="">
                
                    <label for= "date">Desde</label>
                    <input type="date" name="date">
                    <label for="date">Hasta</label>
                    <input type="date" value="date">

                </form>
        
        </section>
        <table class="tabla">
            <tr>
                <th>Sucursal</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Fecha</th>
                <th>Cantidad</th>
            </tr>
            <tr>
                <td>virtual</td>
                <td>remera</td>
                <td>1000</td>
                <td></td>
                <td>5</td>
                
            </tr>
            <tr>
                <td>fisica</td>
                <td>pantalon</td>
                <td>3600</td>
                <td></td>
                <td>2</td>
            </tr>
        </table>

    </main>
    <footer>
        <p>Derechos reservados</p>
        <p></p>
        <p>Copyrigth</p>
    </footer>
</body>
</html>
