<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/listado_ventas.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>MacoWins Store</h1>
        <nav>
            <ul class="ul-header">
            
                <li><a href="http://" target="_blank">Home</a></li>
                <li><a href="http://" target="_blank">Productos</a></li>
                <li><a href="http://" target="_blank">Sucursales</a></li>
                <li><a href="http://" target="_blank">Carrito</a></li>

            </ul>
        </nav>
        
    </header>
    <main>
        <table class="tabla">
            <tr>
                <th>Sucursal</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Fecha</th>
                <th>Cantidad</th>
            </tr>
            <tr>
                <td>virtual</td>
                <td>remera</td>
                <td>1000</td>
                <td></td>
                <td>5</td>
                
            </tr>
            <tr>
                <td>fisica</td>
                <td>pantalon</td>
                <td>3600</td>
                <td></td>
                <td>2</td>
            </tr>
        </table>

    </main>
    <footer>
        <p>Derechos reservados</p>
        <p></p>
        <p>Copyrigth</p>
    </footer>
</body>
</html>