<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Productos</title>
</head>
<body>
    <section class="header">
        <header>
            <a href="/">
                <h1>MacoWins</h1>
            </a>
            <nav>
                <ul>
                
                    <li><a href="/">Home</a></li>
                    <li><a href="/productos">Productos</a></li>
                    <li><a href="/sucursales">Sucursales</a></li>
                    <li><a href="/carrito">Carrito</a></li>

                </ul>
            </nav>
            
        </header>
    </section>
        <main class="main-productos">   
            
            <section class="section-productos">
                <h3>Productos</h3>
                <section class="productos">
                    {%if categoria=="todas" and precio==0 and buscar==""%}
                        {%for producto in productos_all%}
                            {%if producto.retornar_stock() == 0 %}
                                <a href="/detalle" class="sin-stock">
                                    <article>
                                        <h4>{{producto.nombre}}</h4>
                                        <figure>
                                            <img src="https://www.dexter.com.ar/on/demandware.static/-/Sites-dabra-catalog/default/dwc411e695/products/AD_GL5411/AD_GL5411-1.JPG" alt="remera verano">
                                        </figure>
                                        <figcaption>{{producto.nombre}}</figcaption>
                                        
                                        <p><strong><em>Categoria:</em></strong>{{producto.categoria[0]}}</p>
                                        <p><strong><em>Precio:</em></strong>----</p>
                                    </article>
                                </a>
                        
                            {%else%}
                                <a href="/detalle" class="stock-disponible">
                                    <article>
                                        <h4>{{producto.nombre}}</h4>
                                        <figure>
                                            <img src="https://www.dexter.com.ar/on/demandware.static/-/Sites-dabra-catalog/default/dwc411e695/products/AD_GL5411/AD_GL5411-1.JPG" alt="remera verano">
                                        </figure>
                                        <figcaption>{{producto.nombre}}</figcaption>
                                        
                                        <p><strong><em>Categoria:</em></strong>{{producto.categoria[0]}}</p>
                                        <p><strong><em>Precio:</em></strong>$ {{producto.retornar_precio()}}</p>
                                        <p>stock: {{producto.retornar_stock()}}</p>
                                    </article>
                                </a>
                                
                            {%endif%}                
                        {%endfor%}
                    {%elif categoria!="todas" and precio==0 and buscar==""%}
                        {%for producto in productos_all%}
                            {%for categoria_de_producto in producto.categoria%}
                                {%if categoria.lower()==categoria_de_producto.lower()%}
                                    {%if producto.retornar_stock() == 0 %}
                                        <a href="/detalle" class="sin-stock">
                                            <article>
                                                <h4>{{producto.nombre}}</h4>
                                                <figure>
                                                    <img src="https://www.dexter.com.ar/on/demandware.static/-/Sites-dabra-catalog/default/dwc411e695/products/AD_GL5411/AD_GL5411-1.JPG" alt="remera verano">
                                                </figure>
                                                <figcaption>{{producto.nombre}}</figcaption>
                                                
                                                <p><strong><em>Categoria:</em></strong>{{producto.categoria[0]}}</p>
                                                <p><strong><em>Precio:</em></strong>$ {{producto.retornar_precio()}}</p>
                                                <p>{{producto.retornar_stock()}}</p>
                                                <p>Sin stock</p>
                                            </article>
                                        </a>
                                    {%else%}
                                        <a href="/detalle" class="stock-disponible">
                                            <article>
                                                <h4>{{producto.nombre}}</h4>
                                                <figure>
                                                    <img src="https://www.dexter.com.ar/on/demandware.static/-/Sites-dabra-catalog/default/dwc411e695/products/AD_GL5411/AD_GL5411-1.JPG" alt="remera verano">
                                                </figure>
                                                <figcaption>{{producto.nombre}}</figcaption>
                                                
                                                <p><strong><em>Categoria:</em></strong>{{producto.categoria[0]}}</p>
                                                <p><strong><em>Precio:</em></strong>$ {{producto.retornar_precio()}}</p>
                                                <p>{{producto.retornar_stock()}}</p>
                                            </article>
                                        </a>
                                        
                                    {%endif%}
                                {%endif%}
                            
                            {%endfor%}
                        {%endfor%}

                    {%elif categoria=="todas" and precio>0 and buscar==""%}
                        {%for producto in productos_all%}
                            
                                {%if producto.precio()>precio%}
                                    {%if producto.retornar_stock() == 0 %}
                                        <a href="/detalle" class="sin-stock">
                                            <article>
                                                <h4>{{producto.nombre}}</h4>
                                                <figure>
                                                    <img src="https://www.dexter.com.ar/on/demandware.static/-/Sites-dabra-catalog/default/dwc411e695/products/AD_GL5411/AD_GL5411-1.JPG" alt="remera verano">
                                                </figure>
                                                <figcaption>{{producto.nombre}}</figcaption>
                                                
                                                <p><strong><em>Categoria:</em></strong>{{producto.categoria[0]}}</p>
                                                <p><strong><em>Precio:</em></strong>$ {{producto.retornar_precio()}}</p>
                                            </article>
                                        </a>
                                
                                    {%else%}
                                        <a href="/detalle" class="stock-disponible">
                                            <article>
                                                <h4>{{producto.nombre}}</h4>
                                                <figure>
                                                    <img src="https://www.dexter.com.ar/on/demandware.static/-/Sites-dabra-catalog/default/dwc411e695/products/AD_GL5411/AD_GL5411-1.JPG" alt="remera verano">
                                                </figure>
                                                <figcaption>{{producto.nombre}}</figcaption>
                                                
                                                <p><strong><em>Categoria:</em></strong>{{producto.categoria[0]}}</p>
                                                <p><strong><em>Precio:</em></strong>$ {{producto.retornar_precio()}}</p>
                                                <p>stock: {{producto.retornar_stock()}}</p>
                                            </article>
                                        </a>
                                        
                                    {%endif%}                
                                {%endif%}
                            
                            
                        {%endfor%}
                    {%elif categoria=="todas" and precio==0 and buscar!=""%}
                        {%for producto in productos_all%}
                            
                                {%if producto.nombre.lower()==buscar.lower()%}
                                    {%if producto.retornar_stock() == 0 %}
                                        <a href="/detalle" class="sin-stock">
                                            <article>
                                                <h4>{{producto.nombre}}</h4>
                                                <figure>
                                                    <img src="https://www.dexter.com.ar/on/demandware.static/-/Sites-dabra-catalog/default/dwc411e695/products/AD_GL5411/AD_GL5411-1.JPG" alt="remera verano">
                                                </figure>
                                                <figcaption>{{producto.nombre}}</figcaption>
                                                
                                                <p><strong><em>Categoria:</em></strong>{{producto.categoria[0]}}</p>
                                                <p><strong><em>Precio:</em></strong>$ {{producto.retornar_precio()}}</p>
                                            </article>
                                        </a>
                                
                                    {%else%}
                                        <a href="/detalle" class="stock-disponible">
                                            <article>
                                                <h4>{{producto.nombre}}</h4>
                                                <figure>
                                                    <img src="https://www.dexter.com.ar/on/demandware.static/-/Sites-dabra-catalog/default/dwc411e695/products/AD_GL5411/AD_GL5411-1.JPG" alt="remera verano">
                                                </figure>
                                                <figcaption>{{producto.nombre}}</figcaption>
                                                
                                                <p><strong><em>Categoria:</em></strong>{{producto.categoria[0]}}</p>
                                                <p><strong><em>Precio:</em></strong>$ {{producto.retornar_precio()}}</p>
                                                <p>stock: {{producto.retornar_stock()}}</p>
                                            </article>
                                        </a>
                                        
                                    {%endif%}                
                                {%endif%}
                            
                            
                        {%endfor%}
                    {%endif%}
                        </article>
                    </a>
                </section>
            </section>
        </main>
    <footer>
        <p>Derechos reservados</p>
        <p></p>
        <p>Copyrigth</p>
    </footer>
</body>
</html>