<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Productos</title>
</head>
<body>
    <section class="header">
        <header>
            <h1>MacoWins Store</h1>
            <nav>
                <ul>
                
                    <li><a href="/">Home</a></li>
                    <li><a href="/productos">Productos</a></li>
                    <li><a href="/sucursales">Sucursales</a></li>
                    <li><a href="/carrito">Carrito</a></li>

                </ul>
            </nav>
            
        </header>
    </section>
        <main class="main-productos">   
            
            <section class="section-productos">
                <h3>Productos</h3>
                <section class="productos">
                    {%if precio=="" and buscar==""%}

                        <a href="/detalle">
                            <article>
                                <h4>Short Adidas</h4>
                                <figure>
                                    <img src="https://www.dexter.com.ar/on/demandware.static/-/Sites-dabra-catalog/default/dwc411e695/products/AD_GL5411/AD_GL5411-1.JPG" alt="remera verano">
                                </figure>
                                <figcaption>Adidas</figcaption>
                                
                                <p><strong><em>Categoria:</em></strong>sds</p>
                                <p><strong><em>Precio:</em></strong>un precio</p>
                            </article>
                        </a>
                    {endif}
                    <a href="">
                        <article>
                            <h4>Remera adidas</h4>
                            <figure>
                                <img src="https://www.blowland.com.ar/1793-large_default/adidas-originals-remera-lifestyle-hombre-trefoil-negro-camo-.jpg" alt="short verano">
                            </figure>
                            <figcaption>remera casual addidas</figcaption>
                            
                            <p><strong><em>Categoria:</em></strong>Remera</p>
                            <p><strong><em>Precio:</em></strong>un precio</p>
                        </article>

                    </a>
                    <a href="" class="opacidad">

                        <article>
                            <h4>Botines Qatar2022</h4>
                            <figure>
                                <img src="https://phantom-marca.unidadeditorial.es/3fd0422b7dd8ba6d87eaa7bf8d799ae9/resize/1320/f/jpg/assets/multimedia/imagenes/2022/11/18/16687852357915.jpg" alt="zapatillas qatar2022">
                            </figure>
                            <figcaption>Botines Leonel Messi  Qatar2022</figcaption>
                            
                            <p><strong><em>Categoria:</em></strong>Remera</p>
                            <p><strong><em>Precio:</em></strong>un precio</p>
                            
                        </article>
                    </a>
                </section>
            </section>
        </main>
    <footer>
        <p>Derechos reservados</p>
        <p></p>
        <p>Copyrigth</p>
    </footer>
</body>
</html>