*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.header{
    height: 5vh;
    background-color: aliceblue;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 100;
    
}
section>header{
    display: flex;
    height: 100%;
    align-items: center ;
    justify-content: space-between;
    
}
section>header>h1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;   
    font-size: 1.8em;
}
section>header>nav{
    width: 60vw;
    height: 100%;
}
section>header>nav>ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    }
section>header>nav>ul>li{
    display: block;
    height: 100%;
    padding: 0 10px;
    border-right: 1px solid;

}
section>header>nav>ul>li>a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    height: 100%;
}
.search{
     /* lightcoral; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 3em;
    height: 30vh;
    
}

.search>h3{
    font-size: 2em;
    margin-bottom: 20px;
}
.search>form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     /* aqua; */
    height: 15em;
    width: 100%;   
    padding: 0 5px; 
}
.search>form>.contenedor-search-main{
     /* lawngreen; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2px 0;
    height: 3em;
    padding: 2px 0;
}
.search>form>.contenedor-precio-main{
     /* lightcoral; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2px 0;
    height: 2.5em;
}
.contenedor-precio-main>fieldset{
    margin: 1px 2em;
    border: 0;
}
.contenedor-precio-main>fieldset>input{
    padding: 0 4px;
    font-size: 1em;
    border-radius: 0%;
    border: 0;
}
.contenedor-precio-main>select{
    
    border-radius: 5%;
    border: 0 solid;
    height: 80%;
    font-size: 1em;
    padding: 0 4px;
}
.search>form>div>fieldset{
    height: 80%;
    display: flex;
    border: 0px;
}
.contenedor-search{
    width: 80%;  
}
.search-input{
    width: 100%;
    padding: 0px 4px;
    font-size: 1.2em;
    border: 0px;
}
.contenedor-enviar{
    width: 5%;
}
.boton-enviar{
    height: 80%;
    padding: 1px 5px;
    border-radius: 10%;
    border: 0 solid;
}
.search>form>fieldset{
   border: 0;
   padding: 2px 5px;
}

.search>form>fieldset>input{
    border:1px solid grey;
    padding: 0 5px;
}  

/* ---------------------- */

.section-productos{
    margin-top:1em ;
    height: 85vh;
}
.section-productos>h3{
    margin-bottom: 0.6em;
    text-align: center;
     /* bisque; */
    font-size: 2em;
}

.productos{
    display: flex;
    justify-content: space-around; 
    
}
.productos>a>article>h4{
    text-decoration: underline;
    text-align: center;
}
.productos>a{
    padding: 1em;
    background-color: aquamarine;
    width: 20%;
    text-decoration: none;
    color: black;
}
.opacidad{
    opacity: 0.8;
    background-color: gray;
}
.productos>a:hover{
    box-shadow: 5px 5px 40px;
}
.productos>a>article>figure{
    width: 90%;
    margin: 10px auto;
    height: 200px;
    text-align: center;
    background-color:lightcoral;
}
.productos>a>article>figcaption{
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 10px;   
    text-align: center;
}
.productos>a>article>p{
    padding: 4px;
}
/* ----------carrusel------------ */

.section-carrusel{
    
    padding: 4em 0;
     /* rgb(197, 223, 47); */
    height: 60vh;
}
.section-carrusel>h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 2em;
}
.contenedor-imagenes-carrusel{
    
    overflow: hidden;
    width: 90%;
    margin: auto;
}
.contenedor-imagenes-carrusel > ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 300%;
    animation: cambio 10s infinite;
    animation-direction: alternate;
}
.contenedor-imagenes-carrusel > ul > li{
    width: 80%;
    height: 300px;
     /* lightgreen; */
}
.contenedor-imagenes-carrusel > ul > li > img{
    width: 100%;
    height: 20rem;
    object-fit: fill;
}
@keyframes cambio {
    0%{margin-left: 0;}
    30%{margin-left: 0;}
    
    35%{margin-left: -100%;}
    65%{margin-left: -100%;}
    
    70%{margin-left: -200%;}
    100%{margin-left: -200%;}
} 
/* ----fin carrusel---- */
footer{
    height:5vh;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}