<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/style/style.css">
    <title>Macowins Store</title>
    <script src="https://kit.fontawesome.com/5333537f63.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="header">
        <header>
            <h1>MacoWins Store</h1>
            <nav>
                <ul>
                
                    <li><a href="http://" target="_blank">Home</a></li>
                    <li><a href="http://" target="_blank">Productos</a></li>
                    <li><a href="http://" target="_blank">Sucursales</a></li>
                    <li><a href="http://" target="_blank">Carrito</a></li>

                </ul>
            </nav>
            
        </header>
    </section>
    <main>
        <section class="search" >
            <h3>Encuentra lo que Buscas</h3>
            <form action="" method="get">
                <fieldset class="contenedor-search">
                    <input type="text" name="search" class="search-input" id="buscar" placeholder="Buscar...">
                </fieldset>
                <fieldset class="contenedor-enviar">
                    <input type="submit" class="boton-enviar"></i>
                </fieldset>
            </form>
        </section>
        <section class="productos-destacados">
            <h3>Lo mas Destacado</h3>
            <section class="tres-destacados">

                <article>
                    <h4>Remera de verano</h4>
                    <figure>
                        <img src="" alt="remera verano">
                    </figure>
                    <figcaption>Remera verano nike</figcaption>
                    <p><strong><em>Nombre:</em></strong>un producto</p>
                    <p><strong><em>Categoria:</em></strong>Remera</p>
                    <p><strong><em>Precio:</em></strong>un precio</p>
                </article>
                <article>
                    <h4>short de verano</h4>
                    <figure>
                        <img src="" alt="short verano">
                    </figure>
                    <figcaption>short verano addidas</figcaption>
                    <p><strong><em>Nombre:</em></strong>un producto</p>
                    <p><strong><em>Categoria:</em></strong>Remera</p>
                    <p><strong><em>Precio:</em></strong>un precio</p>
                </article>
                <article>
                    <h4>zapatillas Qatar2022</h4>
                    <figure>
                        <img src="" alt="zapatillas verano">
                    </figure>
                    <figcaption>Remera verano nike</figcaption>
                    <p><strong><em>Nombre:</em></strong>un producto</p>
                    <p><strong><em>Categoria:</em></strong>Remera</p>
                    <p><strong><em>Precio:</em></strong>un precio</p>
    
                </article>
            </section>
        </section>
        <section class="section-carrusel">
            <h2>Promociones</h2>
            <!-- contenedor de box-imagenes -->
            <div class="contenedor-imagenes-carrusel">
                <!-- imagenes del carrusel -->
                <ul>
                    <li><img src="" alt="Images1"></li>
                    <li><img src="" alt="images2"></li>
                    <li><img src="" alt="images3" ></li>
                </ul>
            </div>
        </section>

    </main>
    <footer>
        <p>Derechos reservados</p>
        <p></p>
        <p>Copyrigth</p>
    </footer>
</body>
</html>