<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/deltalle_producto.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>MacoWins Store</h1>
        <nav>
            <ul>
            
                <li><a href="http://" target="_blank">Home</a></li>
                <li><a href="http://" target="_blank">Productos</a></li>
                <li><a href="http://" target="_blank">Sucursales</a></li>
                <li><a href="http://" target="_blank">Carrito</a></li>

            </ul>
        </nav>
        
    </header>
    <main>
        
            <h2>Remera blanca</h2>
        <section class="imagen-section">    
                 <figure> 
                  <img src="https://puraimagendigital.com.ar/2473-thickbox_default/remera-adulto-unisex-blanca-sublimable.jpg"
                    alt="remera" width=30%>
                 </figure>
            <ul> 
                <li>Precio: $1000</li>
                <li>Cantidad de Stock</li>
                <li>Codigo de Producto</li>
                <li>Categoria</li>
        
                
                 
            </ul>
             
            <p>Sucursales</p>
                 
        </section>
    </main>
    <footer>
        <p>Derechos reservados</p>
        <p></p>
        <p>Copyrigth</p>
    </footer>
</body>
</html>