<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Macowins Store</title>
    <script src="https://kit.fontawesome.com/5333537f63.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="header">
        <header>
            <h1>MacoWins Store</h1>
            <nav>
                <ul>
                
                    <li><a href="http://" target="_blank">Home</a></li>
                    <li><a href="http://" target="_blank">Productos</a></li>
                    <li><a href="http://" target="_blank">Sucursales</a></li>
                    <li><a href="http://" target="_blank">Carrito</a></li>

                </ul>
            </nav>
            
        </header>
    </section>
    <main>
        <section class="search" >
            <h3>Encuentra lo que Buscas</h3>
            <form action="" method="get">
                <div class="contenedor-search-main">
                    <fieldset class="contenedor-search">
                        <input type="text" name="search" class="search-input" id="buscar" placeholder="Buscar...">
                    </fieldset>
                    <input type="submit" class="boton-enviar"></i>
                </div>
                <div class="contenedor-precio-main">

                    <fieldset class="contenedor-search-precio">
                        <!-- <label for="precio">por precio</label> -->
                        <input type="number" name="precio" min="0"  class="precio-input" id="precio" placeholder="Por precio">
                    </fieldset>
                    
                    <select>
                        <option selected value=""> Por Categoria</option>
                        <option value="">Remera</option>
                        <option value="">pantalones cortos</option>
                        <option value="">jeans</option>
                    </select>
                </div>   
            </form>
        </section>
        
        <!-- <section class="section-carrusel">
            <h2>Visitanos</h2>
                contenedor de box-imagenes 
            <div class="contenedor-imagenes-carrusel">
                imagenes del carrusel 
                <ul>
                    <li><img src="https://d500.epimg.net/cincodias/imagenes/2020/05/03/companias/1588533648_456774_1588533815_noticia_normal_recorte1.jpg" alt="Images1"></li>
                    <li><img src="" alt="images2"></li>
                    <li><img src="" alt="images3" ></li>
                </ul>
            </div>
        </section> -->

    </main>
    <footer>
        <p>Derechos reservados</p>
        <p></p>
        <p>Copyrigth</p>
    </footer>
</body>
</html>