<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Productos</title>
</head>
<body>
    <section class="header">
        <header>
            <h1>MacoWins Store</h1>
            <nav>
                <ul>
                
                    <li><a href="http://" target="_blank">Home</a></li>
                    <li><a href="http://" target="_blank">Productos</a></li>
                    <li><a href="http://" target="_blank">Sucursales</a></li>
                    <li><a href="http://" target="_blank">Carrito</a></li>

                </ul>
            </nav>
            
        </header>
    </section>
    <main class="main-productos">

        <section class="section-productos">
            <h3>Productos</h3>
            <section class="productos">
                <a href="">
                    <article>
                        <h4>Remera de verano</h4>
                        <figure>
                            <img src="" alt="remera verano">
                        </figure>
                        <figcaption>Remera verano nike</figcaption>
                        <p><strong><em>Nombre:</em></strong>un producto</p>
                        <p><strong><em>Categoria:</em></strong>Remera</p>
                        <p><strong><em>Precio:</em></strong>un precio</p>
                    </article>
                </a>
                <a href="">
                    <article>
                        <h4>short de verano</h4>
                        <figure>
                            <img src="" alt="short verano">
                        </figure>
                        <figcaption>short verano addidas</figcaption>
                        <p><strong><em>Nombre:</em></strong>un producto</p>
                        <p><strong><em>Categoria:</em></strong>Remera</p>
                        <p><strong><em>Precio:</em></strong>un precio</p>
                    </article>

                </a>
                <a href="" class="opacidad">

                    <article>
                        <h4>zapatillas Qatar2022</h4>
                        <figure>
                            <img src="" alt="zapatillas verano">
                        </figure>
                        <figcaption>Remera verano nike</figcaption>
                        <p><strong><em>Nombre:</em></strong>un producto</p>
                        <p><strong><em>Categoria:</em></strong>Remera</p>
                        <p><strong><em>Precio:</em></strong>un precio</p>
                        
                    </article>
                </a>
            </section>
        </section>
    </main>
    <footer>
        <p>Derechos reservados</p>
        <p></p>
        <p>Copyrigth</p>
    </footer>
</body>
</html>